body {
    background-image: url(/static/images/example_background.png);
    background-repeat: repeat
  }
  

hr { 
    background-color: white; 
    height: 1px; 
    border: 0; 
}

.main-body {
    padding-top: 10vh;
}

.main-container {
    background: #FFF;
    border-radius: 10px;
    min-width: 80vw;
    margin-bottom: 5vh;
    border-radius: 10px;
}

.section-header {
    color: #6c5ce7;
    font-size: 3em;
    border-bottom: solid 2px #6c5ce7;
    max-width: 35%;
    text-align: center;
}

.mission-header {
    margin-top: 4vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #6c5ce7;
    font-size: 4em;
    border-bottom: solid 2px #6c5ce7;
    max-width: 35%;
}

.mission-body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-size: 2em;
    letter-spacing: .1em;
    margin-top: 5vh;
    text-transform: uppercase;
}

.section-body {
    color: #000;
    font-size: 1.3rem;
    line-height: 1.8em;
}

.about-icon {
    margin-top: 2vh;
    margin-left: 2vw;
}

.person-image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.person-title {
    text-align: center;
    margin-top: 2vh;
    color: #000;
}

.person-text {
    text-align: center;
    color: #000;
}

.contact-body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    content: block;
    margin-bottom: 7vh;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.mission-section {
    background: #eeeeee;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 10vh)
  );
}

.team-section {
    background: #eeeeee;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 15vh;
    padding-top: 15vh;
    clip-path: polygon(
        0 0,
        100% 15%,
        100% 100%,
        0 calc(100% - 10vh)
  );
}
.about-section {
    background: #ffffff;
    padding-left: 5vw;
    padding-right: 5vw;
}