
.page-body {
    padding-bottom: 5vh;
    min-height: 95vh;
}

.footer-copyright {
    font-size: 1em;
}

.footer-item {
    color: #FFF;
    margin-left: 2ve;
}

.footer-item:hover {
    color: #6c5ce7;
}

.footer {
    padding-top: 2vh;
}