.page-body {
    padding-bottom: 5vh;
}

.footer-copyright {
    font-size: 1em;
}

.footer-items {
    margin-left: 10vw;
}

.footer-item {
    color: #FFF;
    margin-left: 2ve;
}

.footer {
    padding-top: 2vh;
}