body {
    background: #FFF
}

label {
    color: #7373fd;
    font-size: 1.4em;
}

.page-title {
    font-size: 2em;
    color: #7373fd;
}

.form-block {
    color: #7373fd;
    border: 1px solid #7373fd;
    background: #FFF;
}

.form-block:hover {
    color: #FFF;
    background-color: #7373fd;
    border: 1px solid #7373fd;
}


