body {
    background-image: url(/static/images/example_background.png);
    background-repeat: repeat;
}

label {
    color: #000;
    font-size: 1.3em;
    margin-top: 2vh;
}


.page-title {
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #FEBC4E;
    padding-bottom: 1vh;
    max-width: 90%;
    font-size: 2em;
    margin-bottom: 2vh;
}

.form-body {
    padding-top: 10vh; 
    padding-bottom: 10vh;
    max-width: 45vw;
}

.form-signin {
    background: #FFF;
    padding: 3em;
    border-radius: 10px;
}

.btn-primary {
    background-color: #FEBC4E;
    color: #FFF;
    border: 1px solid #FEBC4E;
}

.btn-primary:hover {
    background-color: #FFF;
    color: #FEBC4E;
    border: 1px solid #FEBC4E;
}

.btn-primary:active:focus {
    background-color: #FFF !important;
    color: #FEBC4E !important;
    border: 1px solid #FEBC4E !important;
}

.enlarged {
    font-size: 1.25em;
}

@media only screen and (max-width: 600px) {
    .form-body {
        max-width: 90vw;
    }
}