body {
    background: #FFF
}

label {
    color: #000;
    font-size: 1.4em;
    margin-top: 3vh;
}


.page-title {
    font-size: 2em;
    color: #000;
}

.form-block {
    color: #000;
    border: 1px solid #6c5ce7;
    background: #FFF;
}

.form-block:hover {
    color: #FFF;
    background-color: #6c5ce7;
    border: 1px solid #6c5ce7;
}

.form-body {
    padding-top: 10vh; 
    padding-bottom: 10vh;
    max-width: 45vw;
}

.form-signin {
    background: #C4BFFF;
    border-radius: 10px;
    padding: 3em;
}

.btn-primary {
    background-color: #FEBC4E;
    color: #FFF;
    border: 1px solid #FEBC4E;
}

.btn-primary:hover {
    background-color: #FFF;
    color: #FEBC4E;
    border: 1px solid #FEBC4E;
}

.btn-primary:active:focus {
    background-color: #FFF !important;
    color: #FEBC4E !important;
    border: 1px solid #FEBC4E !important;
}

.enlarged {
    font-size: 1.2em;
}