body {
    background-image: url(/static/images/background_tile.png);
    background-repeat: repeat
}

::-webkit-scrollbar {
    width: 0;
    background: 0 0
}  

.btn-primary {
    color: #FFF;
    background-color: #FEBC4E;
    border: 1px solid #FEBC4E;
}

.btn-primary:hover {
    color: #FEBC4E;
    background-color: #FFF;
    border: 1px solid #FEBC4E;
}

.btn-primary:active:focus {
    color: #FFF !important;
    background-color: #FEBC4E !important;
    border: 1px solid #FEBC4E !important;
}

.action-link {
    font-size: 1.4em;
    text-decoration: none;
}

.action-link:hover {
    color: #6c5ce7;
}


.form-signin {
    background: #C4BFFF;
    padding: 3em;
    border-radius: 10px;
}

.page-title {
    color: #000;
    font-size: 2em;
    margin-bottom: 4vh !important;
}

.footer-text {
    font-size: 1.3em;
}

.forgot-password {
    text-decoration: none;
} 


.top-padded {
    margin-top: 2vh;
}

.alt {
    text-decoration: none;
}

.form-body {
    padding-top: 10vh; 
    max-width: 35vw;
    padding-bottom: 10vh;
}

label {
    font-size: 1.1em;
}

.signing-up {
    font-size: .9em;
}

@media only screen and (max-width: 900px) {
    .form-body {
        max-width: 80vw;
    }
}