.btn-primary {
    color: #FFF;
    background-color: #FEBC4E;
    border: 1px solid #FEBC4E;
}

.btn-primary:hover {
    color: #FEBC4E;
    background-color: #FFF;
    border: 1px solid #FEBC4E;
}

.btn-primary:active:focus {
    color: #FFF !important;
    background-color: #FEBC4E !important;
    border: 1px solid #FEBC4E !important;
}

.action-link {
    font-size: 1.4em;
    text-decoration: none;
    color: #000;
}

.action-link:hover {
    color: #6c5ce7;
}


.form-signin {
    background: #C4BFFF;
    padding: 3em;
    border-radius: 10px;
}

.page-title {
    color: #000;
    font-size: 2em;
}

.footer-text {
    font-size: 1.3em;
}

.forgot-password {
    color: #000;
} 

.forgot-password:hover {
    color: #6c5ce7;
    text-decoration: none;
}

.top-padded {
    margin-top: 2vh;
}

.alt {
    color: #6c5ce7;
    text-decoration: none;
}

.form-body {
    padding-top: 10vh; 
    max-width: 35vw;
    padding-bottom: 10vh;
}

@media only screen and (max-width: 900px) {
    .form-body {
        max-width: 50vw;
    }
  }