{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/enroll.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<center>
<div class="main-body">
      
      <h1 class="page-title">BECOME A CREATOR</h1><br />
      {% if message %}
        <div class="alert alert-warning alert-dismissible fade show page-message" role="alert">
                <p class="warning">{{message}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div><br/>
      {% endif %}
      {% if success %}
      <div class="alert alert-success alert-dismissible fade show page-message" role="alert">
            <p class="warning">{{success}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div><br/>
      {% endif %}
      <h3 class="option-header">Option 1: Payment:</h3>
      {% if is_active_member %}
      <br />
        <div class="alert alert-info alert-dismissible fade show page-message" role="alert">
            <p class="warning">As a member, if you downgrade or upgrade to a different plan listed below, then the new plan will immediately take effect and will last 31 days from its purchase time.
                <br /><br /><b>Your current plan is {{ user.subscription.plan_type }}</b>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <br/>
      {% endif %}
      <div class="alert alert-info alert-dismissible fade show page-message" role="alert">
        <p class="warning">If you purchase a plan, you will only be charged once on a non-recurring basis for a 31 day plan. To continue your membership, you will need to purchase the plan again.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="price_table">   
        <section>
                <div class="container">
                    <div class="row">
                      {% for plan in plans %}
                        <div class="col-md-{{col_length}}">
                            <div class="generic_content clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>{{plan.0}}</span>
                                        </div>
                                    </div>
                                    <div class="generic_price_tag clearfix">	
                                        <span class="price">
                                            <span class="sign">$</span>
                                            <span class="currency">{{plan.2}}</span>
                                            <span class="cent">.00</span>
                                            <span class="month">/MON</span>
                                        </span>
                                    </div>              
                                </div>                            
                                <div class="generic_feature_list">
                                  <ul>
                                      {% if plan.3 == 1 %}
                                        <li><span>{{plan.3}}</span> Question</li>
                                      {% else %}
                                        <li><span>{{plan.3}}</span> Questions</li>
                                      {% endif %}
                                  </ul>
                                </div>
                                <div class="generic_price_btn clearfix">
                                    <form action="{% url 'make_payment' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="amount" value="{{plan.2}}00"></input>
                                        <input type="hidden" name="description" value="{{plan.0}} Plan"></input>
                                        <script src="https://checkout.stripe.com/checkout.js" 
                                            class="stripe-button"
                                            data-key="{{ key }}"
                                            data-description="{{plan.0}} Plan"
                                            data-amount="{{plan.2}}00"
                                            data-currency='usd'
                                            data-locale="auto">
                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>	
                </div>
            </section>             
        </div>
        <hr />
        <br />
     <form class="form-signin" method="post" action="{% url 'enroll' %}"></form>
        {% csrf_token %}
        <h3 class="option-header">Option 2: Coupon/Promo Code:</h3><br />
        <input type="text" id="coupon_code" name="coupon_code" class="form-control" placeholder="Coupon Code"><br />
        <br />
        <button class="btn btn-lg btn-primary btn-block form-block submit-btn" type="submit">Enter Coupon</button>
    </form>
</div>
</center>
{% endblock %}