{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/enroll.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<center>
<div class="main-body">
      <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">BECOME A CREATOR</h1>
      {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p class="warning">{{message}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div><br/>
      {% endif %}
      {% if success %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p class="warning">{{success}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div><br/>
      {% endif %}
      <h3>Option 1: Payment:</h3>
      <div id="price_table">   
        <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="price-heading clearfix">
                                <h1>Available Plans</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                      {% for plan in plans %}
                        <div class="col-md-{{col_length}}">
                            <div class="generic_content clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>{{plan.0}}</span>
                                        </div>
                                    </div>
                                    <div class="generic_price_tag clearfix">	
                                        <span class="price">
                                            <span class="sign">$</span>
                                            <span class="currency">{{plan.2}}</span>
                                            <span class="cent">.00</span>
                                            <span class="month">/MON</span>
                                        </span>
                                    </div>              
                                </div>                            
                                <div class="generic_feature_list">
                                  <ul>
                                      {% if plan.3 == 1 %}
                                        <li><span>{{plan.3}}</span> Question</li>
                                      {% else %}
                                        <li><span>{{plan.3}}</span> Questions</li>
                                      {% endif %}
                                  </ul>
                                </div>
                                <div class="generic_price_btn clearfix">
                                    <form action="{% url 'make_payment' %}" method="post">
                                        {% csrf_token %}
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="{{ key }}"
                                            data-description="{{plan.0}} Plan"
                                            data-amount="{{plan.2}}00"
                                            data-locale="auto">
                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>	
                </div>
            </section>             
        </div>
     <form class="form-signin" method="post"></form>
        {% csrf_token %}
        <h3>Option 2: Coupon/Promo Code:</h3>
        <input type="text" id="coupon_code" name="coupon_code" class="form-control" placeholder="Coupon Code"><br />
        <br />
        <button class="btn btn-lg btn-primary btn-block form-block submit-btn" type="submit">Become a Creator</button>
    </form>
</div>
</center>
{% endblock %}