{% extends "base.html" %}
{% load static %}
{% block css_imports %}
{% endblock %}


{% block content %}
<center>
<div style="padding-top: 10vh; max-width: 30vw;">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">SIGN IN</h1>
      {% if invalid_login %}
        <h4 style="color: red">Invalid email/password combination</h4>
      {% endif %}
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus><br />
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required><br />
      <br /><br />
      <button class="btn btn-lg btn-primary btn-block form-block" type="submit">Sign In</button>
    </form>
</div>
</center>
{% endblock %}