{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/signup.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<center>
<div style="padding-top: 10vh; max-width: 30vw;">
    {% if message|length > 0 %}
        {% if message_color == 'red' %}
          <div class="alert alert-warning" role="alert">
            {{ message }}
          </div>
        {% else %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        {% endif %}
      {% endif %}
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal page-title">SIGN IN</h1>
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus><br />
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required><br />
      <br />
      <a class="forgot-password" href="/users/password_reset">Forgot password?</a>
      <br /><br />
      <button class="btn btn-lg btn-primary btn-block form-block" type="submit">Sign In</button><br />
      <p>Don't have an account? <a class="alt" href="/users/signup">Create one</a></p>
    </form>
</div>
</center>
{% endblock %}