{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/signup.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<center>
<div style="padding-top: 10vh; max-width: 30vw;">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">PASSWORD RESET SUCCESSFUL</h1>
        <p>Please <a href="/users/login">login</a> to use the site.</p>
    </form>
</div>
</center>
{% endblock %}