{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/signup.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<center>
<div class="form-body">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">RESET PASSWORD</h1>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus><br />
        <button class="btn btn-lg btn-primary btn-block form-block" type="submit">Email Password Reset</button>
    </form>
</div>
</center>
{% endblock %}