{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/signup.css' %}" rel="stylesheet">
<style>
    .switch {
    position: relative;
    display: inline-block;
    width: 7vw;
    height: 3.4vh;
    }
    
    .switch input {display:none;}
    
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
    }
    
    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    }
    
    input:checked + .slider {
    background-color: #FEBC4E;
    }
  
    
    input:checked + .slider:before {
    -webkit-transform: translateX(5vw);
    -ms-transform: translateX(5vw);
    transform: translateX(5vw);
    }
    
    .on
    {
    display: none;
    }
    
    .on, .off
    {
    color: #000;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 1.1em;
    font-family: Verdana, sans-serif;
    }
    
    input:checked+ .slider .on
    {display: block;}
    
    input:checked + .slider .off
    {display: none;}
    
    .slider.round {
    border-radius: 34px;
    }
    
    .slider.round:before {
    border-radius: 50%;}
    </style>
{% endblock %}
{% block content %}
<center>
<div class="form-body">
    {% if error_messages %}
      <div class="alert alert-danger" role="alert">
          Error Signing Up: <br /><br />
          <ul>
            {% for error_message in error_messages %} 
              <li>{{ error_message }}</li>
            {% endfor %}
          </ul>
      </div>
    {% endif %}
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
      <p>Already have an account? <a class="footer-text" href="/users/login">Login here</a></p>
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus><br />
      <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required maxlength="32"><br />
      <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required maxlength="32"><br />
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required><br />
      <label for="password2" class="sr-only">Confirm Password</label>
      <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" required> <br>
      <p class="footer-text">Do you wish to make or assign interview questions (will you be interviewing candidates)?</p>

      <label class="switch"><input type="checkbox" name="is_from_company" id="is_from_company"><div class="slider round"><span class="on">YES</span><span class="off">NO</span></div></label>
      <br />
      <div id="is_user">
        <label class="footer-text">Which best describes your role?</label>
        <select class="form-control" id="user_role" name="user_role">
          <option>College Student</option>
          <option>High School Student</option>
          <option>Current Employee</option>
          <option>Other</option>
        </select>
      </div>

      <div id="is_creator">
          <label>Which company/organization do you represent?</label>
          <input type="text" id="comp_org" name="comp_org" class="form-control" maxlength="128"><br />
      </div>

      <br />
      
      <button class="btn btn-lg btn-primary btn-block form-block" type="submit">Sign Up</button>
    </form>
</div>

<script>
$('#is_creator').hide();  
$("#is_from_company").change(function() {
    if(this.checked) {
      $('#is_creator').fadeIn();
      $('#is_user').fadeOut();
    } else {
      $('#is_user').fadeIn();
      $('#is_creator').fadeOut();
    }
});
</script>
</center>
{% endblock %}