{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% block css_imports %}
<link href="{% static 'main/css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container page-container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">The Encompass Blog</h1>
            {% for blog in blogs %}
            <hr>
                <div class="blog-post">    
                    <h1 class="centered">{{blog.title}}</h1>
                    <p class="centered published">Published: {{blog.published}}</p><br>
                    <p class="blog-content">{{blog.content | markdown | truncatechars:200  | safe}}</p><br>
                    <a href="/blog/{{blog.pk}}" class="btn btn-outline-primary read-more-button">Read More</a>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}