{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/about.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="main-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12 order-md-12">
            <h2 class="mission-header">Our Mission</h2>
            <p class="mission-body">Maximize the alignment of developers’ skills and opportunities</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <h2 class="section-header">About Us</h2>
            <p class="section-body">Encompass Interviews is an online platform leading the charge to change the way 
              technical programming interview questions are done. We believe that the current way that programming interviews are done, 
              primarily through algorithm based interviews, do not stress skills that are important in an actual programming job. 
              This leads to a poor signal for the company and high stress for the applicant. We attempt to change this by offering different types of questions on 
              our platform that stress skills such as reading existing code, using APIs, and solving implementation challenges.
            </p>
          </div>
          <div class="col-md-4">
            <img class="about-icon" src="{% static 'images/icon.png' %}" width="250" height="250">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-header">The Team</h2><br/>
          </div>
          <div class="col-lg-3 person-block">
            <img class="rounded-circle person-image" src="{% static 'images/team/mike.jpeg' %}" alt="Generic placeholder image" width="140" height="140">
            <h2 class="person-title">Mike</h2>
            <p class="person-text">Mike is a engineering and business student at UPenn.</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-header centered" id="contact_us">Contact Us</h2>
            <p class="contact-body">You can email us at <a href = "mailto: support@encompassinterviews.com">support@encompassinterviews.com</a>
            </p>
          </div>
        </div>


    </div>
</div>
{% endblock %}
