{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/signup.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<center>
<div class="form-body">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">YOUR ACCOUNT</h1>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" class="form-control" value="{{ user.first_name }}"><br />
      </div>
      <div class="form-group">
         <label for="last_name">Last Name</label>
         <input type="text" id="last_name" name="last_name" class="form-control" value="{{ user.last_name }}"><br />
      </div>
      <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" value="{{ user.email }}" readonly><br />
      </div>

      {% if user.is_from_company %}
      <div class="form-group">
            <label for="account_status">Membership Status</label>
            <input type="text" id="account_status" name="account_status" class="form-control" value="{{ user.subscription.plan_type }}" readonly><br />

            <label for="account_status">Membership Expiration</label>
            <input type="text" id="account_status" name="account_status" class="form-control" value="{{ user.subscription.terminated_on }}" readonly><br />
      </div>
      <a href="/users/enroll" class="action-link">Change or Renew Membership Status</a><br /><br/><br/>
      {% else %}
      {% endif %}
      <a href="/users/password_reset" class="action-link">Forgot password?</a>
      <button class="btn btn-lg btn-primary btn-block form-block top-padded" type="submit">Update Account</button>
    </form>
</div>
</center>
{% endblock %}