{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% block css_imports %}
<link href="{% static 'main/css/homepage.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <div class="container homepage-container">
    <div class="col-lg-12 mb-12 landing-section">
      <div class="landing-text">
        <h1 class="landing-title">Join the Interview Question Revolution</h1>
        <p class="landing-description">Encompass Interviews provides interviewers with tools to evaluate potential hires based on real world and unique programming challenges.
        </p>
        {% if user.is_authenticated %}
          {% if user.is_from_company %}
            <center><a class="image-button" href="/interview_questions">Manage Questions &#8594;</a></center>
          {% else %}
           <center><a class="image-button" href="/questions/answer">Answer Questions &#8594;</a></center>
          {% endif %}
        {% else %}
          <center><a class="image-button" href="/users/signup">Sign Up</a></center>
        {% endif %}
      </div>
    </div>
    {% if questions|length > 0 %}
    <div class="open-questions" data-aos="fade-in">
        <div class="row">
            {% for question in questions %}
          <div class="col-lg-3 mb-3">
              <div class="open-question-box">
                  <div class="card open-question-card" >
                    <div class="card-body">
                      <h5 class="card-title question-card-title">{{ question.name }}</h5>
                      <p class="card-text question-card-text">{{ question.description | markdown | striptags| truncatechars:200 | safe}}</p>
                      <a href="/interview_questions/question/{{ question.id }}/try/" class="btn btn-primary btn-block question-btn">Answer</a>
                    </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
    {% endif %}
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
{% endblock %}