{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'interview/compile_run.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container main-section">
    <div class="row">
        <div class="col-sm-12">
             <h1 style="text-align: center;">Terms and Conditions</h1><br />
             <p>Any content that you write in the process of answering a question can be used by the creator of the question without attribution.</p>
        </div>
    </div>
</div>
{% endblock %}