{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/answer.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="main_container">
  <form method="post" action="{{ request.path }}" class="row" enctype="multipart/form-data" id="question_answer">
    {% csrf_token %}
      <div class="col-md-12 time-section">
        <h3 class="question-title">{{ question.base_question.name }}</h3>
        {% if is_preview %}
        {% else %}
          <span id="remaining_time">Remaining Time:</span> 
        {% endif %}
      </div>
      <div class="col-md-6 answer-section-one" id="content-one">
        <div class="col-md-6 editor-section">
          <div class="top-row-left">
            <div class="editor_options-left">
              <p class="file-name">File: </p><select class="select-css" id="file-drop-down-one" >
                  {% for opt_group in opt_groups %} 
                    <optgroup label="{{ opt_group }}">
                      {% if opt_group == 'Question' %}
                        <option value="Question Description">Question Description</option>
                      {% elif opt_group == 'Stub Files' %}
                        {% for filename in files_to_work_on_names %}
                        <option value="{{ filename }}">{{ filename }}</option>
                        {% endfor %}
                      {% elif opt_group == 'API' %}
                      {% elif opt_group == 'Example Code' %}
                      {% endif %}
                    </optgroup>
                  {% endfor %}
              </select>
              <p class="theme-name">Theme: </p><select id="theme-one" class="select-css" onchange="onSelectNewThemeOne()"></select>
            </div>
          </div>
        </div>
        <br />
        <div class="col-md-6 editor-holder">
          <div id="editor_one" class="actual-editor">{{question.base_question.starter_code}}</div>
          <textarea name="editor_one"></textarea>
        </div>
        <div id="file_contents" type="hidden"></div>
      </div> <!-- end of section one-->
      <div class="col-md-6 answer-section-two" id="content-two">
        <div class="col-md-6 editor-section">
          <div class="top-row-left">
            <button type="button" class="btn btn-secondary toggle-button" id="toggle_sidebar"> < </button>
            <div class="editor_options-right">
              <p class="file-name">File: </p><select class="select-css" id="file-drop-down-two">
                  {% for filename in files_to_work_on_names %}
                    <option value="{{ filename }}">{{ filename }}</option>
                  {% endfor %}
              </select>
              <p class="theme-name">Theme: </p><select id="theme-two" class="select-css" onchange="onSelectNewThemeTwo()"> </select>
            </div>
          </div>
        </div>
        <br />
        <div class="col-md-6 editor-holder">
          <div id="editor_two" class="actual-editor">{{question.base_question.starter_code}}</div>
          <textarea name="editor_two"></textarea>
        </div>
        <div id="file_contents" type="hidden"></div>
      </div> <!-- end of section two-->
      <div class="col-md-12 submit-section">
          <center>
        <div class="submit-content">
            <h4 class="or-upload">Or, upload the filled out stub files in a zip file:</h4><br />

            <input type="text" id="file_name_field">
            <span id="file_span">Select Zip File</span>
            <input type="file" id="zip_file" name="zip_file" accept=".zip,.rar,.7zip"></input><br /><br />

        </div>
        <button type="submit" name="action" value="submit_code" class="btn btn-success">Submit Code</button>
      </center>
      </div>
  </form>
  <div class="col-md-12 test-case-section">
    <hr />
    <h3 class="test-case-header">Write Test Cases</h3>
    <p class="test-case-note">Note: we disable any standard output your code might execute</p>
    <div id="test_case_editor" class="test-case-editor"></div>
    <textarea name="test_case_editor" id="test_case_editor_textarea"></textarea>
    <center><button type="button" class="btn btn-info test-case-button" id="run_test_case_button">Run Test
        Case</button></center>
    <div class="spinner-border" role="status" id="test_case_loading">
      <span class="sr-only">Loading...</span>
    </div>
    <ul id="test_case_results" class="user_test_case_results"></ul>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type='text/javascript'>


    // themes for the drop down
    var themeData = [
      "textmate"                ,
      "chrome"         ,
      "clouds"         ,
      "dawn"           ,
      "dreamweaver"    ,
      "eclipse"        ,
      "github"         ,
      "iplastic"       ,
      "tomorrow"       ,
      "xcode"          ,
      "sqlserver"              ,
      "ambiance"               ,
      "gruvbox",
      "chaos"                  ,
      "clouds_midnight"        ,
      "cobalt"                 ,
      "gob"                    ,
      "idle_fingers"           ,
      "kr_theme"               ,
      "merbivore"              ,
      "merbivore_soft"         ,
      "mono_industrial"        ,
      "monokai"                ,
      "pastel_on_dark"         ,
      "solarized_dark"         ,
      "terminal"               ,
      "tomorrow_night"         ,
      "tomorrow_night_blue"    ,
      "tomorrow_night_bright"  ,
      "tomorrow_night_eighties",
      "twilight"               ,
      "vibrant_ink"            
  ]; 

  $.each(themeData, function (i, item) {
    $('#theme-one').append($('<option>', { 
        value: item,
        text : item 
      }));
    $('#theme-two').append($('<option>', { 
      value: item,
      text : item 
    }));
  });


  $.fn.extend({
      toggleText: function(a, b){
          return this.text(this.text() == b ? a : b);
      }
  });

  // collapsible sidebar
  $('#toggle_sidebar').click(function () {
    $("#content-one").toggleClass("collapsed");
    $("#content-two").toggleClass("col-md-12 col-md-9");
    $("#toggle_sidebar").toggleText('<', '+');
  });


  // init select
  var starter_code_bodies = {{ files_to_work_on_bodies| safe}};
  var starter_code_names = {{ files_to_work_on_names| safe}};
  var name_to_body = {};
  var currently_selected_file_one = $("#file-drop-down-one option:selected").text();
  var currently_selected_file_two = $("#file-drop-down-two option:selected").text();

  function initSetUpStarterFiles() {
    var starter_index = 0;
    $("#file-drop-down-one option").each(function () {
      if (starter_code_names.includes(this.text)) {
        name_to_body[this.text] = starter_code_bodies[starter_index];
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "file_" + this.text);
        input.setAttribute("id", "file_" + this.text);
        input.setAttribute("value", starter_code_bodies[starter_index]);
        document.getElementById("file_contents").appendChild(input);
        starter_index = starter_index + 1;
      }
    });
  }

  // set up all of the code in the dropdown
  function initQuestionSetup() {
    name_to_body["Question Description"] = {{ question_description | safe}};
  }

  function initAPISetup() {
    
  }
  initSetUpStarterFiles();
  initQuestionSetup();

  // ace editor functions
  function textarea_edit(name) {
    var editor = ace.edit(name);
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({"showPrintMargin": false, fontSize: "12pt"});

    var textarea = $('textarea[name="' + name + '"]').hide();
    textarea.val(editor.getSession().getValue());
    return editor;
  }

  function textarea_edit_test_case(name) {
    var editor = ace.edit(name);
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({"showPrintMargin": false, fontSize: "12pt"});

    var textarea = $('#test_case_editor_textarea').hide();
    textarea.val(editor.getSession().getValue());
    editor.getSession().on('change', function () {
      textarea.val(editor.getSession().getValue());
      document.getElementById('test_case_editor_textarea').value = editor.getSession().getValue();
    });
    return editor;
  }


  
  var code_editor_two = textarea_edit("editor_two");
  var code_editor_one = textarea_edit("editor_one");

  function setUpOnChangeForEditorOne() {
    code_editor_one.getSession().on('change', function () {
      var curr_val = code_editor_one.getSession().getValue();
      var textarea = $("#editor_one");
      textarea.val(curr_val);
      name_to_body[currently_selected_file_one] = curr_val;

      if ($('#file_' + currently_selected_file_one).length > 0) {
        document.getElementById('file_' + currently_selected_file_one).value = curr_val;
      }
      if (currently_selected_file_one == currently_selected_file_two) {
        if (code_editor_two.getSession().getValue() != curr_val) {
          var currentPosition = code_editor_one.selection.getCursor();
          code_editor_two.setValue(curr_val);
          code_editor_two.clearSelection();
          code_editor_one.selection.moveTo(currentPosition.row, currentPosition.column);
        }
      }
    });
  }

  function setUpOnChangeForEditorTwo() {
    code_editor_two.getSession().on('change', function () {
        var curr_val = code_editor_two.getSession().getValue();
        var textarea = $("#editor_two");
        textarea.val(curr_val);
        name_to_body[currently_selected_file_two] = curr_val;
        if ($('#file_' + currently_selected_file_two).length > 0) {
          document.getElementById('file_' + currently_selected_file_two).value = curr_val;
        }
        if (currently_selected_file_one == currently_selected_file_two) {
          if (code_editor_one.getSession().getValue() != curr_val) {
            var currentPosition = code_editor_two.selection.getCursor();
            code_editor_one.setValue(curr_val);
            code_editor_one.clearSelection();
            code_editor_two.selection.moveTo(currentPosition.row, currentPosition.column);
          }
        }
    });
  }

  setUpOnChangeForEditorTwo();
  

  var test_case_editor = textarea_edit_test_case("test_case_editor");

  // populate all of the example code views
  var example_code_snippets = document.getElementsByClassName('example_code_view');
  for (var i = 0; i < example_code_snippets.length; ++i) {
    var example_code = example_code_snippets[i];
    var editor = ace.edit(example_code.id);
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({"showPrintMargin": false, fontSize: "12pt"});
    editor.setReadOnly(true);
    editor.setOptions({
      maxLines: 15
    });
  }

  // on theme change
  function onSelectNewThemeOne() {
    var theme = $("#theme-one").val();
    code_editor_one.setTheme("ace/theme/" + theme);
  }

  // on theme change
  function onSelectNewThemeTwo() {
    var theme = $("#theme-two").val();
    code_editor_two.setTheme("ace/theme/" + theme);
  }



  code_editor_two.setValue(name_to_body[currently_selected_file_two].toString(), -1);


  // on change select

  $('#file-drop-down-one').change(function() {
    var selected = $(':selected', this);
    var opt_group = selected.parent().attr('label');
    if (opt_group === "Question") {
      if (code_editor_one !== null) {
        code_editor_one.destroy();
      }
      $("#editor_one").html(name_to_body["Question Description"]);
    } else if (opt_group === "Stub Files") {
      $("#editor_one").html('')
      code_editor_one = textarea_edit("editor_one");
      setUpOnChangeForEditorOne();
      currently_selected_file_one = $("#file-drop-down-one option:selected").text();
      code_editor_one.setValue(name_to_body[currently_selected_file_one].toString(), -1);
    }
  });


  $('#file-drop-down-two').change(function() {
    currently_selected_file_two = $("#file-drop-down-two option:selected").text();
    code_editor_two.setValue(name_to_body[currently_selected_file_two].toString(), -1);
  });


  function get_all_code_fields() {
    var return_dict = {};
    var all_file_fields = $('*[id^="file_"]');
    for (var i = 0; i < all_file_fields.length; i++) {
      var curr_element = all_file_fields[i];
      if (curr_element.id != "file_contents") {
        return_dict[curr_element.id] = curr_element.value;
      }
    }
    return return_dict;
  }


  $('#run_test_case_button').click(function () {
    $("#test_case_loading").show();
    $("#test_case_results").html("");
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();

    var editor_data = $('#test_case_editor_textarea').val();

    data_to_send = get_all_code_fields();
    data_to_send['test_case_editor'] = editor_data;
    data_to_send['csrfmiddlewaretoken'] = CSRFtoken;

    $.ajax({
      type: "POST",
      url: "/questions/answer/submit_test_case/{{request.resolver_match.kwargs.pk}}/",
      data: data_to_send,
      success: function (data) {
        $("#test_case_loading").hide();
        var test_case_results = data["test_passed"];
        var test_case_output = data["test_results"];
        for (key in test_case_results) {
          if (test_case_results[key]) {
            var row = $('<li class="list-group-item list-group-item-success">' + key + ': Passed</li>');
            $("#test_case_results").append(row);
          } else {
            var row = $('<li class="list-group-item list-group-item-danger">' + key + ': Failed<br /> ' + test_case_output[key] + '</li>');
            $("#test_case_results").append(row);
          }
        }
      }
    });
  });

  // click the initial option
  function setUpScreen() {
    window.onerror = function(errorMsg, url, lineNumber, column, errorObj){
      if (errorMsg.indexOf("Uncaught TypeError") == -1) {
        console.error(errorMsg);
      }
      return true;
      }
    code_editor_one.destroy();
    $("#editor_one").html(name_to_body["Question Description"]);
  }

  function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        hours,
        minutes,
        seconds;
    function timer() {
        diff = duration - (((Date.now() - start) / 1000) | 0);

        hours = (diff / 3600) | 0;
        minutes = ((diff / 60) % 60) | 0;
        seconds = (diff % 60) | 0;

        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = "Remaining Time: " + hours + ":" + minutes + ":" + seconds; 

        if (diff <= 0) {
          $("#question_answer").submit();
        }
    };
    timer();
    setInterval(timer, 1000);
}

  window.onload = function () {
    $("#test_case_loading").hide();
    setUpScreen();
    var is_preview = "{{ is_preview|safe }}";
    if (is_preview === "False") {
      var time = {{ expiration_time|safe }};
      var display = document.querySelector('#remaining_time');
      startTimer(time, display);
    }
  };

  // file upload stuff
  $('#zip_file').on('change', function() {
      $('#file_name_field').val($(this).get(0).files.item(0).name);
    });
    $('#file_span').on('click', function() {
      $('#file_name_field').val($('#zip_file').val());
    });


</script>
</body>

</html>
{% else %}
{% include "no_auth.html" %}
{% endif %}
{% endblock %}