{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load markdown_extras %}
{% block css_imports %}
<link href="{% static 'main/css/answer.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="main_container">
  <form method="post" action="{{ request.path }}" class="row" enctype="multipart/form-data" id="question_answer">
    {% csrf_token %}
      <div class="col-md-12 time-section">
          {% if is_observer %}
            <h3 style="color: red">Observing</h3>
          {% endif %}
        <h3 class="question-title">{{ question.base_question.name }}</h3>
        <p class="instructions">Please modify the stub files below and press the Submit Code button when finished.</p>
        {% if is_preview %}
        {% else %}
          {% if has_expiration %}
            <span id="remaining_time">Remaining Time:</span> 
          {% endif %}
        {% endif %}
      </div>
      <div class="col-md-6 answer-section-one" id="content-one">
        <div class="col-md-6 editor-section">
          <div class="top-row-left">
            <div class="editor_options-left">
              <p class="file-name">File: </p><select class="select-css" id="file-drop-down-one" >
                  {% for opt_group in opt_groups %} 
                    <optgroup label="{{ opt_group }}">
                      {% if opt_group == 'Question (Not Modifiable)' %}
                        <option value="Question Description">Question Description</option>
                      {% elif opt_group == 'Stub Files (Modifiable)' %}
                        {% for filename in files_to_work_on_names %}
                          <option value="{{ filename }}">{{ filename }}</option>
                        {% endfor %}
                      {% elif opt_group == 'API (Not Modifiable)' %}
                        <option value="API Description">API Description</option>
                        <option value="API Methods">API Methods</option>
                      {% elif opt_group == 'Example Code (Not Modifiable)' %}
                        {% for filename in example_files_names %}
                          <option value="{{ filename }}">{{ filename }}</option>
                        {% endfor %}
                      {% endif %}
                    </optgroup>
                  {% endfor %}
              </select>
              <p class="theme-name">Theme: </p><select id="theme-one" class="select-css" onchange="onSelectNewThemeOne()"></select>
            </div>
          </div>
        </div>
        <br />
        <div class="col-md-6 editor-holder">
          <div id="editor_one" class="actual-editor">{{question.base_question.starter_code}}</div>
          <textarea name="editor_one"></textarea>
        </div>
        <div id="file_contents" type="hidden"></div>
      </div> <!-- end of section one-->
      <div class="col-md-6 answer-section-two" id="content-two">
        <div class="col-md-6 editor-section">
          <div class="top-row-left">
            <button type="button" class="btn btn-secondary toggle-button" id="toggle_sidebar"> < </button>
            <div class="editor_options-right">
              <p class="file-name">File: </p><select class="select-css" id="file-drop-down-two">
                  {% for opt_group in opt_groups %} 
                    <optgroup label="{{ opt_group }}">
                      {% if opt_group == 'Question (Not Modifiable)' %}
                        <option value="Question Description">Question Description</option>
                      {% elif opt_group == 'Stub Files (Modifiable)' %}
                        {% for filename in files_to_work_on_names %}
                          <option value="{{ filename }}">{{ filename }}</option>
                        {% endfor %}
                      {% elif opt_group == 'API (Not Modifiable)' %}
                        <option value="API Description">API Description</option>
                        <option value="API Methods">API Methods</option>
                      {% elif opt_group == 'Example Code (Not Modifiable)' %}
                        {% for filename in example_files_names %}
                          <option value="{{ filename }}">{{ filename }}</option>
                        {% endfor %}
                      {% endif %}
                    </optgroup>
                  {% endfor %}
              </select>
              <p class="theme-name">Theme: </p><select id="theme-two" class="select-css" onchange="onSelectNewThemeTwo()"> </select>
            </div>
          </div>
        </div>
        <br />
        <div class="col-md-6 editor-holder">
          <div id="editor_two" class="actual-editor">{{question.base_question.starter_code}}</div>
          <textarea name="editor_two"></textarea>
        </div>
        <div id="file_contents" type="hidden"></div>
      </div> 
      {% if not is_observer %}
        <div class="col-md-12 submit-section">
            <center>
            <div class="submit-content">
                <h4 class="or-upload">Or, upload the filled out stub files in a zip file:</h4><br />

                <input type="text" id="file_name_field">
                <span id="file_span">Select Zip File</span>
                <input type="file" id="zip_file" name="zip_file" accept=".zip,.rar,.7zip"></input><br /><br />

            </div>
        </center>
        </div>
      
      <div class="col-md-12">
        <center>
          <button type="submit" name="action" value="submit_code" class="btn btn-success btn-lg centered-button">Submit Code</button>
          <button type="button" name="save_code" id="save_code" class="btn btn-info btn-lg">Save Code</button><br />
          <p id="code_saved_status"></p>
          <p>Be sure to write test cases below before submitting!</p>
        </center>  
      </div>
      {% endif %}
  </form>
  <div class="col-md-12 test-case-section">
    <hr />
    <h3 class="test-case-header">Write Test Cases</h3>
    {% if question.base_question.allow_stdout %}
    <p class="test-case-description">You can debug a failing test cases by using the print() method</p>
    {% else %}
    <p class="test-case-description">The question creator has disabled printing and standard output for tests</p>
    {% endif %}
    <div id="test_case_editor" class="test-case-editor">
      
    </div>
    <textarea name="test_case_editor" id="test_case_editor_textarea"></textarea>
    {% if not is_observer %}
    <center><button type="button" class="btn btn-info test-case-button" id="run_test_case_button">Run Test
        Case</button></center>
    {% endif %}
    <div class="spinner-border" role="status" id="test_case_loading">
      <span class="sr-only">Loading...</span>
    </div>
    <ul id="test_case_results" class="user_test_case_results"></ul>
  </div>
</div>
<script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM="
  crossorigin="anonymous"></script>
<script type='text/javascript'>
    var themeData = ["textmate", "chrome", "clouds", "dawn", "dreamweaver", "eclipse", "github", "iplastic", "tomorrow", "xcode", "sqlserver", "ambiance", "gruvbox", "chaos", "clouds_midnight", "cobalt", "gob", "idle_fingers", "kr_theme", "merbivore", "merbivore_soft", "mono_industrial", "monokai", "pastel_on_dark", "solarized_dark", "terminal", "tomorrow_night", "tomorrow_night_blue", "tomorrow_night_bright", "tomorrow_night_eighties", "twilight", "vibrant_ink"];
$.each(themeData, function(i, item) {
    $('#theme-one').append($('<option>', {
        value: item,
        text: item
    }));
    $('#theme-two').append($('<option>', {
        value: item,
        text: item
    }))
});
$.fn.extend({
    toggleText: function(a, b) {
        return this.text(this.text() == b ? a : b)
    }
});
$('#toggle_sidebar').click(function() {
    $("#content-one").toggleClass("collapsed");
    $("#content-two").toggleClass("col-md-12 col-md-9");
    $("#toggle_sidebar").toggleText('<', '+')
});
var name_to_body = {};
var live_interview_id = "{{ live_interview_id | safe }}";
var instance_id = "{{ question.pk | safe}}"
var starter_code_bodies = {{files_to_work_on_bodies | safe}};
var starter_code_names = {{files_to_work_on_names | safe}};
var example_name_to_body = {};
var example_code_bodies = {{example_files_bodies | safe}};
var example_code_names = {{example_files_names | safe}};
$("#file-drop-down-two").val(starter_code_names[0]);
var currently_selected_file_one = $("#file-drop-down-one option:selected").text();
var currently_selected_file_two = $("#file-drop-down-two option:selected").text();
var start_millis = new Date().getTime();

var interviewSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/live_interview/' + instance_id + '/'
        + live_interview_id + '/');

var last_sent = "";
var last_received = "";

function initSetUpStarterFiles() {
    var starter_index = 0;
    $("#file-drop-down-one option").each(function() {
        if (starter_code_names.includes(this.text)) {
            name_to_body[this.text] = starter_code_bodies[starter_index];
            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "file_" + this.text);
            input.setAttribute("id", "file_" + this.text);
            input.setAttribute("value", starter_code_bodies[starter_index]);
            document.getElementById("file_contents").appendChild(input);
            starter_index = starter_index + 1
        }
    })
}

function initSetUpExampleFiles() {
    var example_index = 0;
    $("#file-drop-down-one option").each(function() {
        if (example_code_names.includes(this.text)) {
            example_name_to_body[this.text] = example_code_bodies[example_index];
            example_index = example_index + 1
        }
    })
}

function initQuestionSetup() {
    name_to_body["Question Description"] = `{{ question_description | markdown | safe}}`
}

function initAPISetup() {
    name_to_body["API Description"] = `{{ api_description | markdown  | safe}}`;
    name_to_body["API Methods"] = `{{ api_methods | safe}}`
}
initSetUpStarterFiles();
initSetUpExampleFiles();
initQuestionSetup();
initAPISetup();

function send_socket_file_content_update(filename, content, is_test_body, is_test_results) {
  if (interviewSocket.readyState !== WebSocket.CONNECTING) {
      if (content !== last_sent && content !== last_received) {
          if (new Date().getTime() - start_millis > 3000) {
            interviewSocket.send(JSON.stringify({
                    'file': filename,
                    'content': content,
                    'is_test_body': is_test_body,
                    'is_test_results': is_test_results
            }));
            last_sent = content;
        }
      }
  }
};

function textarea_edit(name) {
    var editor = ace.edit(name);
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({
        "showPrintMargin": !1,
        fontSize: "12pt"
    });
    var textarea = $('textarea[name="' + name + '"]').hide();
    textarea.val(editor.getSession().getValue());
    return editor
}

function textarea_edit_example_code(name) {
    var editor = ace.edit(name);
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({
        "showPrintMargin": !1,
        fontSize: "12pt"
    });
    return editor
}

function textarea_edit_test_case(name) {
    var editor = ace.edit(name);
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({
        "showPrintMargin": !1,
        fontSize: "12pt"
    });
    var textarea = $('#test_case_editor_textarea').hide();
    textarea.val(editor.getSession().getValue());
    editor.getSession().on('change', function() {
        textarea.val(editor.getSession().getValue());
        document.getElementById('test_case_editor_textarea').value = editor.getSession().getValue()
        send_socket_file_content_update('', editor.getSession().getValue(), true, false);
    });
    var test_case_body = "# this import is needed\nimport unittest\n# these import the required files\n";
    var starter_code_names = {{ files_to_work_on_names | safe }};
    for (var i = 0; i < starter_code_names.length; i++) {
        var curr_name = starter_code_names[i].split(".")[0];
        test_case_body = test_case_body + "import " + curr_name + " # access a method with " + curr_name + ".method()\n"
    }
    test_case_body += "# Write all of your tests in this class\n# Read about unit testing here: docs.python.org/3/library/unittest.html \n# All test methods must have the test_ prefix\nclass TestCases(unittest.TestCase):\n\t# this method represents one test \n\tdef test_example_one(self):\n\t\tself.assertTrue(True)\n\t# this method represents another test \n\tdef test_example_two(self):\n\t\tself.assertFalse(False)";
    editor.setValue(test_case_body, 1);
    return editor;
};

var code_editor_two = textarea_edit("editor_two");
var code_editor_one = textarea_edit("editor_one");

function setUpOnChangeForEditorOne() {
    code_editor_one.getSession().on('change', function() {
        var curr_val = code_editor_one.getSession().getValue();
        var textarea = $("#editor_one");
        textarea.val(curr_val);
        name_to_body[currently_selected_file_one] = curr_val;
        var element = document.getElementById('file_' + currently_selected_file_one);
        var element_exists = (typeof(element) != 'undefined' && element != null);
        if (element_exists) {
            element.value = curr_val;
            send_socket_file_content_update(currently_selected_file_one, curr_val, false, false);
        }
        if (currently_selected_file_one == currently_selected_file_two) {
            if (code_editor_two.getSession().getValue() != curr_val) {
                var currentPosition = code_editor_one.selection.getCursor();
                code_editor_two.setValue(curr_val);
                code_editor_two.clearSelection();
                code_editor_one.selection.moveTo(currentPosition.row, currentPosition.column);
            }
        }
    })
}

function setUpOnChangeForEditorTwo() {
    code_editor_two.getSession().on('change', function() {
        var curr_val = code_editor_two.getSession().getValue();
        var textarea = $("#editor_two");
        textarea.val(curr_val);
        name_to_body[currently_selected_file_two] = curr_val;
        var element = document.getElementById('file_' + currently_selected_file_two);
        var element_exists = (typeof(element) != 'undefined' && element != null);
        if (element_exists) {
            element.value = curr_val;
            send_socket_file_content_update(currently_selected_file_two, curr_val);
        }
        if (currently_selected_file_one == currently_selected_file_two) {
            if (code_editor_one.getSession().getValue() != curr_val) {
                var currentPosition = code_editor_two.selection.getCursor();
                code_editor_one.setValue(curr_val);
                code_editor_one.clearSelection();
                code_editor_two.selection.moveTo(currentPosition.row, currentPosition.column);
            }
        }
    })
}
setUpOnChangeForEditorTwo();
var test_case_editor = textarea_edit_test_case("test_case_editor");
var example_code_snippets = document.getElementsByClassName('example_code_view');
for (var i = 0; i < example_code_snippets.length; ++i) {
    var example_code = example_code_snippets[i];
    var editor = ace.edit(example_code.id);
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/python");
    editor.setOptions({
        "showPrintMargin": !1,
        fontSize: "12pt"
    });
    editor.setReadOnly(!0);
    editor.setOptions({
        maxLines: 15
    })
}

function onSelectNewThemeOne() {
    var theme = $("#theme-one").val();
    code_editor_one.setTheme("ace/theme/" + theme)
}

function onSelectNewThemeTwo() {
    var theme = $("#theme-two").val();
    code_editor_two.setTheme("ace/theme/" + theme)
}
code_editor_two.setValue(name_to_body[currently_selected_file_two].toString(), -1);
$('#file-drop-down-one').change(function() {
    var selected = $(':selected', this);
    var opt_group = selected.parent().attr('label');
    if (opt_group === "Question (Not Modifiable)") {
        if (code_editor_one !== null) {
            code_editor_one.destroy()
        }
        $("#editor_one").html(name_to_body["Question Description"])
    } else if (opt_group === "Stub Files (Modifiable)") {
        if (code_editor_one !== null) {
            code_editor_one.destroy()
        }
        $("#editor_one").html('')
        code_editor_one = textarea_edit("editor_one");
        setUpOnChangeForEditorOne();
        code_editor_one.setReadOnly(!1);
        currently_selected_file_one = $("#file-drop-down-one option:selected").text();
        code_editor_one.setValue(name_to_body[currently_selected_file_one].toString(), -1)
    } else if (opt_group === "API (Not Modifiable)") {
        if (selected.val() === "API Description") {
            if (code_editor_one !== null) {
                code_editor_one.destroy()
            }
            $("#editor_one").html(name_to_body["API Description"])
        } else if (selected.val() === "API Methods") {
            if (code_editor_one !== null) {
                code_editor_one.destroy()
            }
            $("#editor_one").html(name_to_body["API Methods"])
        }
    } else if (opt_group === "Example Code (Not Modifiable)") {
        if (code_editor_one !== null) {
            code_editor_one.destroy()
        }
        $("#editor_one").html('')
        code_editor_one = textarea_edit_example_code("editor_one");
        currently_selected_file_one = $("#file-drop-down-one option:selected").text();
        code_editor_one.setValue(example_name_to_body[selected.val()], -1);
        code_editor_one.setReadOnly(!0)
    }
});
$('#file-drop-down-two').change(function() {
    var selected = $(':selected', this);
    var opt_group = selected.parent().attr('label');
    if (opt_group === "Question (Not Modifiable)") {
        if (code_editor_two !== null) {
            code_editor_two.destroy()
        }
        $("#editor_two").html(name_to_body["Question Description"])
    } else if (opt_group === "Stub Files (Modifiable)") {
        if (code_editor_two !== null) {
            code_editor_two.destroy()
        }
        $("#editor_two").html('')
        code_editor_two = textarea_edit("editor_two");
        setUpOnChangeForEditorTwo();
        code_editor_two.setReadOnly(!1);
        currently_selected_file_two = $("#file-drop-down-two option:selected").text();
        code_editor_two.setValue(name_to_body[currently_selected_file_two].toString(), -1)
    } else if (opt_group === "API (Not Modifiable)") {
        if (selected.val() === "API Description") {
            if (code_editor_two !== null) {
                code_editor_two.destroy()
            }
            $("#editor_two").html(name_to_body["API Description"])
        } else if (selected.val() === "API Methods") {
            if (code_editor_two !== null) {
                code_editor_two.destroy()
            }
            $("#editor_two").html(name_to_body["API Methods"])
        }
    } else if (opt_group === "Example Code (Not Modifiable)") {
        if (code_editor_two !== null) {
            code_editor_two.destroy()
        }
        $("#editor_two").html('')
        code_editor_two = textarea_edit_example_code("editor_two");
        currently_selected_file_two = $("#file-drop-down-two option:selected").text();
        code_editor_two.setValue(example_name_to_body[selected.val()], -1);
        code_editor_two.setReadOnly(!0)
    }
});

function get_all_code_fields() {
    var return_dict = {};
    var all_file_fields = $('*[id^="file_"]');
    for (var i = 0; i < all_file_fields.length; i++) {
        var curr_element = all_file_fields[i];
        if (curr_element.id != "file_contents") {
            return_dict[curr_element.id] = curr_element.value
        }
    }
    return return_dict
}
$('#run_test_case_button').click(function() {
    $("#test_case_loading").show();
    $("#test_case_results").html("");
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
    var editor_data = $('#test_case_editor_textarea').val();
    var data_to_send = get_all_code_fields();
    data_to_send.test_case_editor = editor_data;
    data_to_send.csrfmiddlewaretoken = CSRFtoken;
    $.ajax({
        type: "POST",
        url: "/questions/answer/submit_test_case/{{request.resolver_match.kwargs.pk}}/",
        data: data_to_send,
        success: function(data) {
            $("#test_case_loading").hide();
            var test_case_results = data.test_passed;
            var test_case_output = data.test_results;
            for (key in test_case_results) {
                if (test_case_results[key]) {
                    var row = $('<li class="list-group-item list-group-item-success">' + key + ': Passed</li>');
                    $("#test_case_results").append(row)
                } else {
                    var row = $('<li class="list-group-item list-group-item-danger">' + key + ': Failed<br /> ' + test_case_output[key] + '</li>');
                    $("#test_case_results").append(row)
                }
            }
            results_json = {"test_case_results": data.test_passed, "test_case_output": data.test_results};
            send_socket_file_content_update('', JSON.stringify(results_json), false, true);
        },
        error: function(data) {
            alert("There was a problem running the test case.")
        }
    })
});
$('#save_code').click(function() {
    $("#code_saved_status").html("Saving your code...");
    $("#test_case_results").html("");
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
    var data_to_send = {};
    data_to_send.json_file_contents = JSON.stringify(get_all_code_fields());
    data_to_send.csrfmiddlewaretoken = CSRFtoken;
    $.ajax({
        type: "POST",
        url: "/questions/answer/save_code/{{request.resolver_match.kwargs.pk}}/",
        data: data_to_send,
        success: function(data) {
            if (data.success == !0) {
                $("#code_saved_status").html("Code successfully saved!")
            } else {
                $("#code_saved_status").html("There was a problem saving your code")
            }
        },
        error: function(data) {
            $("#code_saved_status").html("There was a problem saving your code")
        }
    })
});

function setUpScreen() {
    window.onerror = function(errorMsg, url, lineNumber, column, errorObj) {
        if (errorMsg.indexOf("Uncaught TypeError") == -1) {
            console.error(errorMsg)
        }
        return !0
    }
    code_editor_one.destroy();
    $("#editor_one").html(name_to_body["Question Description"]);
    code_editor_two = textarea_edit("editor_two");
    setUpOnChangeForEditorTwo();
    code_editor_two.setReadOnly(false);
    currently_selected_file_two = $("#file-drop-down-two option:selected").text();
    code_editor_two.setValue(name_to_body[currently_selected_file_two].toString(), -1);
}

function startTimer(duration, display) {
    var start = Date.now(),
        diff, hours, minutes, seconds;

    function timer() {
        diff = duration - (((Date.now() - start) / 1000) | 0);
        hours = (diff / 3600) | 0;
        minutes = ((diff / 60) % 60) | 0;
        seconds = (diff % 60) | 0;
        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        display.textContent = "Remaining Time: " + hours + ":" + minutes + ":" + seconds;
        if (diff <= 0) {
            $("#question_answer").submit()
        }
    };
    timer();
    setInterval(timer, 1000)
}

$('#zip_file').on('change', function() {
    $('#file_name_field').val($(this).get(0).files.item(0).name)
});
$('#file_span').on('click', function() {
    $('#file_name_field').val($('#zip_file').val())
});
$(document).on("keydown", ":input:not(textarea)", function(event) {
    return event.key != "Enter"
});

interviewSocket.onmessage = function(e) {
  var data = JSON.parse(e.data);
  var new_content = data['content'];
  var file = data['file'];
  var is_test_body = data['is_test_body'];
  var is_test_results = data['is_test_results'];
  var sending_user = data['sending_user'];

  if (sending_user !== "{{ user.email | safe}}") {
    last_received = new_content;
    if (is_test_body) {
        if (test_case_editor.getSession().getValue() != new_content) {
            var currentPosition = test_case_editor.selection.getCursor();
            test_case_editor.setValue(new_content);
            test_case_editor.clearSelection();
            test_case_editor.selection.moveTo(currentPosition.row, currentPosition.column);
        }
    } else if (is_test_results) {
        $("#test_case_results").html("");
        var new_content_json  = JSON.parse(new_content);
        var test_case_results = new_content_json.test_passed;
        var test_case_output = new_content_json.test_results;
        for (key in test_case_results) {
            if (test_case_results[key]) {
                var row = $('<li class="list-group-item list-group-item-success">' + key + ': Passed</li>');
                $("#test_case_results").append(row)
            } else {
                var row = $('<li class="list-group-item list-group-item-danger">' + key + ': Failed<br /> ' + test_case_output[key] + '</li>');
                $("#test_case_results").append(row)
            }
        }
    } else {
        if (currently_selected_file_one === file) {
            if (code_editor_one.getSession().getValue() != new_content) {
                var currentPosition = code_editor_one.selection.getCursor();
                code_editor_one.setValue(new_content);
                code_editor_one.clearSelection();
                code_editor_one.selection.moveTo(currentPosition.row, currentPosition.column);
            }
        } 

        if (currently_selected_file_two === file) {
            if (code_editor_two.getSession().getValue() != new_content) {
                var currentPosition = code_editor_two.selection.getCursor();
                code_editor_two.setValue(new_content);
                code_editor_two.clearSelection();
                code_editor_two.selection.moveTo(currentPosition.row, currentPosition.column);
            }
        } 

        if (file in name_to_body) {
        name_to_body[file] = new_content;
        }
    }
  }
};

interviewSocket.onclose = function(e) {
  alert("Live Interview Session Stopped Working Unexpectedly");
};


window.onload = function() {
    $("#test_case_loading").hide();
    setUpScreen();
    var is_preview = "{{ is_preview|safe }}";
    var has_expiration = "{{ has_expiration|safe }}";
    if (is_preview === "False") {
        if (has_expiration !== "False") {
            var time = {{expiration_time | safe}};
            var display = document.querySelector('#remaining_time');
            startTimer(time, display)
        }
    }
  };
</script>
</body>

</html>
{% else %}
{% include "no_auth.html" %}
{% endif %}
{% endblock %}