{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'interview/unanswered_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container main-section">
    <div class="row">
        <div class="col-sm-12">
             {% if user.is_authenticated %}
                <div class="row">
                    <h1 class="page-title">Interview Questions Unanswered:</h1>
                </div>
                <div class="container">
                    <!-- Preview -->
                    <div class="question-section">
                        <div class="row">
                            <h2 class="question-row-title">Preview Questions:</h2>
                        </div>
                        <hr />
                        <div class="row">
                            {% for question in preview_questions %}
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <center>
                                        <p class="card-text question-card-title">{{ question.base_question.name }}</p>
                                        <p>Start Time: {{ question.start_time }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="/questions/answer/{{question.id}}" class="btn btn-outline-primary answer-btn">Answer</a>
                                        </div>
                                        </center>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Available -->
                    <div class="question-section">
                            <div class="row">
                                <h2 class="question-row-title">Answer Questions:</h2>
                            </div>
                            <hr />
                            <div class="row">
                                {% for question in available_questions %}
                                    <div class="col-md-4">
                                        <div class="card mb-4 box-shadow">
                                        <div class="card-body">
                                            <center>
                                            <p class="card-text question-card-title">{{ question.base_question.name }}</p>
                                            <p>Start Time: {{ question.start_time }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="/questions/answer/{{question.id}}" class="btn btn-outline-primary answer-btn">Answer</a>
                                            </div>
                                            </center>
                                        </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
            {% else %}
                {% include "no_auth.html" %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}