{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'interview/unanswered_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container main-section">
    <div class="row">
        <div class="col-sm-12">
             {% if user.is_authenticated %}
                <div class="row">
                    <h1 class="page-title">Answer Interview Questions</h1><br />
                    <p class="page-description">On this page, you have the opportunity to interact with interview questions sent to you.
                        You can preview certain questions before they are available to you. This will allow you to look at the question, API description, and
                        example code.
                    </p>
                </div>
                <div class="row">
                    <!-- Preview -->
                    <div class="question-section col-md-4">
                        <h2 class="question-row-title">Preview Questions</h2>
                        <hr />
                        {% for question in preview_questions %}
                            <div class="card mb-4 box-shadow">
                            <div class="card-body question-card">
                                <center>
                                <p class="card-text question-card-title">{{ question.base_question.name }}</p>
                                <p>Start Time: {{ question.start_time_date_str }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="/questions/answer/{{question.id}}" class="btn btn-outline-primary answer-btn">Preview</a>
                                </div>
                                </center>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Available -->
                    <div class="question-section col-md-4">
                            <h2 class="question-row-title">Answer Questions</h2>
                            <hr />
                            {% for question in available_questions %}
                                <div class="card mb-4 box-shadow">
                                <div class="card-body question-card">
                                    <center>
                                    <p class="card-text question-card-title">{{ question.base_question.name }}</p>
                                    <p>Start Time: {{ question.start_time_date_str }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="/questions/answer/{{question.id}}" class="btn btn-outline-primary answer-btn">Answer</a>
                                    </div>
                                    </center>
                                </div>
                                </div>
                            {% endfor %}
                    </div>
                    <!-- Completed -->
                    <div class="question-section col-md-4">
                        <h2 class="question-row-title">Completed Questions</h2>
                        <hr />
                        {% for question in completed_questions %}
                            <div class="card mb-4 box-shadow">
                            <div class="card-body question-card">
                                <center>
                                <p class="card-text question-card-title">{{ question.base_question.name }}</p>
                                </center>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 centered">
                     <p class="browse-text">Want to practice?</p>
                     <a href="/interview_questions/open" class="btn btn-primary btn-lg open-q-btn">Browse Open Questions</a>
                    </div>
                </div>
            {% else %}
                {% include "no_auth.html" %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}