{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'interview/all_created_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container page-container">
    <div class="row">
        <div class="col-sm-12">
             {% if user.is_authenticated %}
                {% if user.is_from_company %}
                  {% if interview_questions|length > 0 %}
                    {% if success_message %}
                        <div class="alert alert-success alert-dismissible fade show alert-message" role="alert">
                            <p style="text-align: center;">{{success_message}}</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                    {% endif %}
                    <h1 class="page-title">Your Interview Questions</h1>
                    </section>
                    <div class="container-questions">
                        <div class="row">    
                            <table id="questions">
                            {% if has_disabled_status %}
                            <div class="alert alert-danger alert-dismissible fade show alert-message" role="alert" style="margin-left: auto; margin-right: auto">
                                <p style="text-align: center;">You have disabled questions because your number of questions exceeds the number your subscription allows for.</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                            </div><br>
                            {% endif %}
                            {% for interview_q in interview_questions %}
                                <tr>
                                    {% if interview_q.is_disabled %}
                                        <td class="question-card-title"><span style="color: red">[Disabled] </span>{{ forloop.counter }}. {{ interview_q.name }}</p></td>
                                        <td>
                                            <a href="/interview_questions/question/{{interview_q.id}}/delete/" class="btn btn-outline-primary question-card-button">Delete</a>
                                        </td>
                                    {% else %}
                                        <td class="question-card-title">{{ forloop.counter }}. {{ interview_q.name }}</p></td>
                                        <td>
                                            <a href="/interview_questions/question/{{interview_q.id}}/send/" class="btn btn-outline-primary question-card-button">Send</a>
                                            <a href="/interview_questions/question/{{interview_q.id}}/submissions/" class="btn btn-outline-primary question-card-button">View Submissions</a>
                                            <a href="/interview_questions/question/{{interview_q.id}}/observe_answerers/" class="btn btn-outline-primary question-card-button">Observe Answerers</a>
                                            <a href="/interview_questions/question/{{interview_q.id}}/try/" class="btn btn-outline-primary question-card-button">Try</a>
                                            <a href="/interview_questions/question/{{interview_q.id}}/edit/" class="btn btn-outline-primary question-card-button">Edit</a>
                                            <a href="/interview_questions/question/{{interview_q.id}}/delete/" class="btn btn-outline-primary question-card-button">Delete</a>
                                        </td>
                                    {% endif %}
                                </tr>   
                            {% endfor %}
                            </table>
                        </div>
                  {% endif %}
                    
                    <div class="create-section">
                        {% if can_user_make_questions %}
                            {% if can_make_new_questions %}
                            <a href="/interview_questions/create" class="btn btn-lg btn-outline-primary create-section-button">Create a New Interview Question</a>
                            {% else %}
                            <p class="create-section-text enlarged-text">You have reached the maximum number of questions. You can upgrade your plan <a href="/users/enroll">here</a></p>
                            {% endif %}
                        {% else %}
                            <p class="create-section-text">You must have creator status to create a question. You can become a creator <a href="/users/enroll">here</a></p><br />
                        {% endif %}
                    </div>
                    </div>
                {% else %}
                    {% include "is_interviewee_account.html" %}
                {% endif %}
            {% else %}
                {% include "no_auth.html" %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}