{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'interview/all_created_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 70px; max-width: 90vw;">
    <div class="row">
        <div class="col-sm-12">
             {% if user.is_authenticated %}
                <h1 class="page-title">Your Interview Questions:</h1>
                </section>
                <div class="container">
                    <div class="row">
                        {% for interview_q in interview_questions %}
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                <div class="card-body question-box">
                                    <p class="card-text question-card-title">{{ interview_q.name }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-toolbar">
                                            <a href="/interview_questions/question/{{interview_q.id}}/send/" class="btn btn-outline-primary question-card-button">Send</a>
                                            <a href="/interview_questions/question/{{interview_q.id}}/edit/" class="btn btn-outline-primary question-card-button">Edit</a>
                                            <a href="/interview_questions/question/{{interview_q.id}}/delete/" class="btn btn-outline-primary question-card-button">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="create-section">
                        <h2 class="create-section-title">Create a New Interview Question: </h2><br />
                        {% if can_user_make_questions %}
                            <a href="/interview_questions/create" class="btn btn-lg btn-outline-primary  create-section-button">Create</a>
                        {% else %}
                            <p class="create-section-text">You must have creator status to create a question. You can become a creator <a href="/users/enroll">here</a></p><br />
                        {% endif %}
                    </div>
                </div>
             

            {% else %}
                {% include "no_auth.html" %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}