{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'interview/all_created_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container page-container">
    <div class="row">
        <div class="col-sm-12">
             {% if user.is_authenticated %}
                {% if user.is_from_company %}
                  {% if interview_questions|length > 0 %}
                    <h1 class="page-title">Your Interview Questions:</h1>
                    </section>
                    <div class="container-questions">
                        <div class="row">
                            {% for interview_q in interview_questions %}
                                <div class="col-md-12 centered">
                                    <div class="question-box">
                                        <p class="question-card-title">{{ forloop.counter }}. {{ interview_q.name }}:</p>
                                        <a href="/interview_questions/question/{{interview_q.id}}/send/" class="btn btn-outline-primary question-card-button">Send</a>
                                        <a href="/interview_questions/question/{{interview_q.id}}/submissions/" class="btn btn-outline-primary question-card-button">View Submissions</a>
                                        <a href="/interview_questions/question/{{interview_q.id}}/observe_answerers/" class="btn btn-outline-primary question-card-button">Observe Answerers</a>
                                        <a href="/interview_questions/question/{{interview_q.id}}/try/" class="btn btn-outline-primary question-card-button">Try</a>
                                        <a href="/interview_questions/question/{{interview_q.id}}/edit/" class="btn btn-outline-primary question-card-button">Edit</a>
                                        <a href="/interview_questions/question/{{interview_q.id}}/delete/" class="btn btn-outline-primary question-card-button">Delete</a>
                                        <hr />
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                  {% endif %}
                    
                    <div class="create-section">
                        <h2 class="create-section-title">Create a New Interview Question: </h2><br />
                        {% if can_user_make_questions %}
                            {% if can_make_new_questions %}
                            <a href="/interview_questions/create" class="btn btn-lg btn-outline-primary create-section-button">Create</a>
                            {% else %}
                            <p class="create-section-text">You have reached the maximum number of questions. You can upgrade your plan <a href="/users/enroll">here</a></p>
                            {% endif %}
                        {% else %}
                            <p class="create-section-text">You must have creator status to create a question. You can become a creator <a href="/users/enroll">here</a></p><br />
                        {% endif %}
                    </div>
                 </div>
                {% else %}
                    {% include "is_interviewee_account.html" %}
                {% endif %}
            {% else %}
                {% include "no_auth.html" %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}