{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'interview/delete.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container page-container">
    <div class="row">
        <div class="col-sm-12">
             {% if user.is_authenticated %}
                 <form method="post">
                        {% csrf_token %}
                        <div class="main-section">
                        <h1 class="title">Are you sure you want to delete: {{ question.name }} ?</h1><br />
                        <center><button class="btn btn-danger btn-lg">Yes, Delete</button></center>
                    </div>
                </form>
            {% else %}
                {% include "no_auth.html" %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}