{% extends "base.html" %}
{% load static %}
{% block css_imports %}
<link href="{% static 'main/css/basic-form.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<center>
<div style="padding-top: 10vh; max-width: 30vw;">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img class="d-block mx-auto mb-4" src="{% static 'images/icon.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal page-title">Send {{question.name}}</h1>
      <label for="email">Interviewee Email address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Interviewee Email address" required autofocus><br />
      <label for="start_date">Time When User Can Start Question</label>
      <input class="form-control" type="datetime-local" name="start_date" id="start_date">
      <label for="start_time_tz">Timezone:</label>
      <select class="form-control" id="start_time_tz", name="start_time_tz">
        </select>											
               
      <br />

      Do you wish to have a deadline in which the user should finish the question or a time limit to complete it upon opening the question? <br />
      <div class="onoffswitch">
          <input type="checkbox" name="minutes_option" class="onoffswitch-checkbox" id="minutes_option">
          <label class="onoffswitch-label" for="minutes_option">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
      <br />

      <div id="expiration_date_div">
       <label for="start_date">Interview Expiration Date (Same timezone as above)</label>
       <input class="form-control" type="datetime-local" name="expiration_date" id="expiration_date">
      </div>
      <div id="how_many_minutes_div">
       <label for="how_many_minutes">How Many Minutes Does the User Have?</label>
       <input class="form-control" type="number" name="how_many_minutes" id="how_many_minutes"><br />
      </div>

      <br>
        Allow the API and example files to be previewed before the question start to 
        allow users to familiarize themselves with the code base?
        <div class="preview_switch">
            <input type="checkbox" name="preview_option" class="preview_switch-checkbox" id="preview_option">
            <label class="preview_switch-label" for="preview_option">
                <span class="preview_switch-inner"></span>
                <span class="preview_switch-switch"></span>
            </label>
        </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block form-block" type="submit">Send Interview Question</button>
    </form>
</div>
</center>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.3/moment-timezone-with-data.min.js"></script>
<script>
function loadTimeZoneList(){   
    let select = document.getElementById("start_time_tz");
    select.innerHTML = ""; 
    let browserTimeZone = moment.tz.guess();
    let timeZones = moment.tz.names();
       timeZones.forEach((timeZone) =>{
       option = document.createElement("option");      
         option.textContent = `${timeZone} (GMT${moment.tz(timeZone).format('Z')})`; 
         option.value = moment.tz(timeZone).format('Z');
         if (timeZone == browserTimeZone){
             option.selected = true;
         }
         select.appendChild(option);
       });
    
  }
  
$.fn.setNow = function (onlyBlank) {
var now = new Date($.now())
  , year
  , month
  , date
  , hours
  , minutes
  , seconds
  , formattedDateTime
  ;

year = now.getFullYear();
month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();

formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes;

if ( onlyBlank === true && $(this).val() ) {
  return this;
}

$(this).val(formattedDateTime);

return this;
}

$.fn.setOneWeek = function (onlyBlank) {
var now = new Date($.now() + (7 * 24 * 60 * 60 * 1000))
  , year
  , month
  , date
  , hours
  , minutes
  , seconds
  , formattedDateTime
  ;

year = now.getFullYear();
month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
if (month.length === 3) {
  month = month.substr(1);
}
date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();

formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes;

if ( onlyBlank === true && $(this).val() ) {
  return this;
}

$(this).val(formattedDateTime);

return this;
}

$(function () {
    loadTimeZoneList();
    $('#start_date').setNow();
    $('#expiration_date').setOneWeek();

    // switch stuff
    $('#how_many_minutes_div').hide();  
    $("#minutes_option").change(function() {
        if(this.checked) {
          $('#how_many_minutes_div').fadeIn();
          $('#expiration_date_div').fadeOut();
        } else {
          $('#expiration_date_div').fadeIn();
          $('#how_many_minutes_div').fadeOut();
        }
    });
});
</script>
{% else %}
    {% include "no_auth.html" %}
{% endif %} 
{% endblock %}