{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block css_imports %}
<link href="{% static 'main/css/basic-form.css' %}" rel="stylesheet">
<style>
    .switch {
      position: relative;
      display: inline-block;
      width: 16vw;
      height: 5vh;
      margin-top: 1vh;
    }
    
    .switch input {display:none;}
    
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(236, 236, 236);;
    -webkit-transition: .4s;
    transition: .4s;
    }
    
    .slider:before {
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    left: 4px;
    bottom: .5vh;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    }
    
    input:checked + .slider {
    background-color: #FEBC4E;
    }
  
    
    input:checked + .slider:before {
    -webkit-transform: translateX(13vw);
    -ms-transform: translateX(13vw);
    transform: translateX(13vw);
    }
    
    .on
    {
    display: none;
    }

    .off,  .on {
    color: #000;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: .8em;
    font-family: Verdana, sans-serif;
    }
    
    input:checked+ .slider .on
    {display: block;}
    
    input:checked + .slider .off
    {display: none;}
    
    .slider.round {
    border-radius: 34px;
    }
    
    .slider.round:before {
    border-radius: 50%;}

    @media only screen and (max-width: 900px) {
      .switch {
        width: 40vw;
      }
      .slider:before { 
        height: 1em;
        width: 1em;
      }

      input:checked + .slider:before {
      -webkit-transform: translateX(32vw);
      -ms-transform: translateX(32vw);
      transform: translateX(32vw);
      }

      .on {
        font-size: .8em;
      }

      .off {
        font-size: .8em;
      }
  }
</style>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<center>
<div class="form-body">
    <form class="form-signin" method="post">
      {% csrf_token %}
      
      <h1 class="page-title">Send {{question.name}}</h1>
      <hr />
      <label for="start_date">Interviewee Email Address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Interviewee Email Address" required autofocus><br />
      <label for="start_date">Time When Interviewee Can Start Question:</label>
      <input class="form-control" type="datetime-local" name="start_date" id="start_date">
      <label for="start_time_tz">Timezone For Interviewee:</label>
      <select class="form-control" id="start_time_tz", name="start_time_tz">
        </select>											
               
      <br />
      <p class="enlarged">Do you wish to have a deadline in which the user should finish the question or a time limit to complete it upon opening the question? </p>
      <label class="switch"><input type="checkbox" name="minutes_option" id="minutes_option">
        <div class="slider round">
          <span class="on">Deadline</span>
          <span class="off">Time Limit</span>
        </div>
      </label>
      <br />

      <div id="expiration_date_div">
       <label for="start_date">Interview Expiration Date (Assuming same timezone as above):</label>
       <input class="form-control" type="datetime-local" name="expiration_date" id="expiration_date">
      </div>
      <div id="how_many_minutes_div">
       <label for="how_many_minutes">How Many Minutes Does the User Have To Answer The Question?</label>
       <input class="form-control" type="number" name="how_many_minutes" id="how_many_minutes" min="1" placeholder="60"><br />
      </div>

      <br>
        <p class="enlarged">
          Allow the API and example files to be previewed before the question start to 
          allow users to familiarize themselves with the code base?
        </p>
        <label class="switch"><input type="checkbox" name="preview_option" id="preview_option">
          <div class="slider round">
            <span class="on">Preview</span>
            <span class="off">No Preview</span>
          </div>
        </label>
      <br/><br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Send Interview Question</button>
    </form>
</div>
</center>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.3/moment-timezone-with-data.min.js"></script>
{% compress js inline%}
<script>
function loadTimeZoneList(){   
    let select = document.getElementById("start_time_tz");
    select.innerHTML = ""; 
    let browserTimeZone = moment.tz.guess();
    let timeZones = moment.tz.names();
       timeZones.forEach((timeZone) =>{
       option = document.createElement("option");      
         option.textContent = `${timeZone} (GMT${moment.tz(timeZone).format('Z')})`; 
         option.value = moment.tz(timeZone).format('Z');
         if (timeZone == browserTimeZone){
             option.selected = true;
         }
         select.appendChild(option);
       });
    
  }
  
$.fn.setNow = function (onlyBlank) {
var now = new Date($.now())
  , year
  , month
  , date
  , hours
  , minutes
  , seconds
  , formattedDateTime
  ;

year = now.getFullYear();
month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
if (month.length === 3) {
  month = month.substr(1);
}
date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();

formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes;

if ( onlyBlank === true && $(this).val() ) {
  return this;
}

$(this).val(formattedDateTime);

return this;
}

$.fn.setOneWeek = function (onlyBlank) {
var now = new Date($.now() + (7 * 24 * 60 * 60 * 1000))
  , year
  , month
  , date
  , hours
  , minutes
  , seconds
  , formattedDateTime
  ;

year = now.getFullYear();
month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
if (month.length === 3) {
  month = month.substr(1);
}
date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();

formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes;

if ( onlyBlank === true && $(this).val() ) {
  return this;
}

$(this).val(formattedDateTime);

return this;
}

$(function () {
    loadTimeZoneList();
    $('#start_date').setNow();
    $('#expiration_date').setOneWeek();

    // switch stuff
    $('#how_many_minutes_div').hide();  
    $("#minutes_option").change(function() {
        if(this.checked) {
          $('#how_many_minutes_div').fadeIn();
          $('#expiration_date_div').fadeOut();
        } else {
          $('#expiration_date_div').fadeIn();
          $('#how_many_minutes_div').fadeOut();
        }
    });
});
</script>
{% endcompress %}
{% else %}
    {% include "no_auth.html" %}
{% endif %} 
{% endblock %}