{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Encompass Interviews</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  {% compress css %}
    <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/base.css' %}" rel="stylesheet">
    {% block css_imports %}
    {% endblock %}
  {% endcompress %}
  <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="background: #F8F8F8; max-height: 5vh;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: #6c5ce7; font-weight: bold;"><img src="{% static 'images/icon.png' %}" width="24" height="24" style="margin-right: .3vw; margin-bottom: .5vh;">Encompass Interviews</a>
        <button class="navbar-toggle navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" style="margin-left: 20vw">
      
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: #6c5ce7; font-weight: bold;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.first_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/users/account">Manage Account</a>
                </div>
              </li>
              {% if user.is_from_company %}
              <li class="nav-item">
                  <a class="nav-link" href="/interview_questions" style="color: #6c5ce7; font-weight: bold;">Manage Questions</a>
              </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/questions/answer" style="color: #6c5ce7; font-weight: bold;">Answer Questions</a>
                </li>
              {% endif %}

              <li class="nav-item">
                  <a class="nav-link" href="/users/logout" style="color: #6c5ce7; font-weight: bold;">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/about" style="color: #6c5ce7; font-weight: bold;">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/users/login" style="color: #6c5ce7; font-weight: bold;">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/users/signup" style="color: #6c5ce7; font-weight: bold;">Sign Up</a>
              </li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </nav>
  <div class="page-body">
    {% block content %}
    {% endblock %}
  </div>  
  <footer class="bg-dark footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-12">
            <p class="footer-items">
              <a href="/" class="footer-item">Home</a>
              <a href="/about" class="footer-item">About</a>
              <a href="/about/#contact_us" class="footer-item">Contact Us</a>
            </p>
            <p class="footer-title">Encompass Interviews</p>
            <p class="copyright">&copy; <script>new Date().getFullYear()>document.write(new Date().getFullYear());</script></p>
          </div>
        </div>
      </div>
    </footer>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>