body {
  background-image: url(/static/images/example_background.png);
  background-repeat: repeat
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #6c5ce7;
    margin: 1em 0; padding: 0; }

.page-container {
    max-width: 90vw;
    min-height: 90vh;
    margin-top: 10vh;
    background: #FFF;
    border-radius: 10px;
}

.question-card-title {
    float:left;
    font-size: 1.3em;
    font-weight: bold;
}

.question-card-button {
    color: #6c5ce7;
    border: 1px solid #6c5ce7;
    margin-bottom: 1vh;
    margin-left: 1vw;
    content: block;
}

.question-card-button:hover {
    color: #FFF;
    background-color: #6c5ce7;
    border: 1px solid #6c5ce7 !important;
}

.question-card-button:active:focus {
    color: #FFF !important;
    background-color: #6c5ce7 !important;
    border: 1px solid #6c5ce7 !important;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.create-section-title {
    text-align: center;
}

.create-section-button {
    text-align: center;
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #FEBC4E;
    color: #FFF;
    border: 1px solid #FEBC4E;
}

.create-section-button:hover {
    text-align: center;
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FEBC4E;
    background: #FFF;
    border: 1px solid #FEBC4E;
}

.create-section-button:active:focus {
    text-align: center !important;
    max-width: 35% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    color: #FEBC4E !important;
    background: #FFF !important;
    border: 1px solid #FEBC4E !important;
}

.create-section {
    background: white;
    padding: 1em;
}

.page-title {
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #FEBC4E;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 5vh;
    max-width: 35%;
}

.create-section-text {
    margin-left: auto;
    margin-right: auto;
    content: block;
    text-align: center;
}

.enlarged-text {
    font-size: 1.4em;
}


#questions {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #6c5ce7;
  }

  
  #questions td{
    padding: .7em;
  }
  
.alert-message {
    margin-top: 2vh;
}

#questions tr:nth-child(even){background-color: #f2f2f2;}
#questions tr:hover {background-color: #ddd;}

@media only screen and (max-width: 600px) {
    .page-title {
        max-width: 90vw;
    }

    .create-section-button {
        max-width: 90%;
    }

    .create-section-button:hover {
        max-width: 90%;
    }
    
    .create-section-button:active:focus {
        max-width: 90%;
    }

    .question-card-title {
        font-size: 1.2em;
    }

    .question-card-button  {
        font-size: .9em;
    }

  }