body {
    background-image: url(/static/images/example_background.png);
    background-repeat: repeat;
}

.question-card-title {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    content: block;
}

.answer-btn {
    width: 100%;
}

.result-card-passed {
    border: 1px solid #000;
    background: #DFF0D8;
}

.result-card-failed {
    border: 1px solid #000;
    background: #F2DEDF;
}

.main-section {
    margin-top: 7vh;
    margin-bottom: 10vh;
    max-width: 90vw;
    background: #FFF;
    border-radius: 10px;
}

.page-title {
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
    font-size: 2.3em;
    margin-top: 3vh;
    border-bottom: 2px solid #FEBC4E;
    padding-bottom: 1vh;
    max-width: 80%;
}

.go-back-button {
    text-align: center;
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #FEBC4E;
    color: #FFF;
    border: 1px solid #FEBC4E;
    margin-bottom: 4vh;
}

.go-back-button:hover {
    text-align: center;
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FEBC4E;
    background: #FFF;
    border: 1px solid #FEBC4E;
}

.go-back-button:active:focus {
    text-align: center !important;
    max-width: 35% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    color: #FEBC4E !important;
    background: #FFF !important;
    border: 1px solid #FEBC4E !important;
}

.file_snippet {
    height: 20vh;
    width: 70vw;
}

.file_snippet_label {
    margin-left: auto;
    margin-right: auto;
    content: block;
    color: #FFF;
    text-align: center;
    font-size: 1.4em;
}

.user_files {
    margin-bottom: 2vh;
}

@media only screen and (max-width: 900px) {
    .go-back-button {
        max-width: 80%;
    }
    
    .go-back-button:hover {
        max-width: 80%;
    }
    
    .go-back-button:active:focus {
        max-width: 80%;
    }
}

