body {
    background-image: url(/static/images/example_background.png);
    background-repeat: repeat
}

.main-section {
    background-color: #FFF;
    margin-top: 10vh;
    max-width: 90vw;
}

.page-title {
    color: #6c5ce7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.pages {
    margin-left: auto;
    margin-right: auto;
}