body {
    background: #FFF;
}

.question-card-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.answer-btn {
    width: 100%;
    color: #7373fd;
    border: 1px solid #7373fd;
}

.answer-btn:hover {
    color: #FFF;
    background-color: #7373fd;
  }

.main-section {
    padding-top: 70px; 
    max-width: 90vw;
}

.page-title {
    color: #7373fd;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #7373fd;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.question-row-title {
    color: #7373fd;
    margin-right: auto;
    margin-left: auto;
    content: block;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #7373fd;
    margin: 1em 0; padding: 0; 
  }

.question-card {
    border: 2px solid #7373fd;
}

.open-q-btn {
    margin-left: auto;
    margin-right: auto;
    content: block;
    color: #FFF; 
    background-color: #7373fd;
    border: 1px solid #FFF;
}

.open-q-btn:hover {
    color: #7373fd;
    background-color: #FFF;
    border: 1px solid #7373fd;
}
  