body {
    background: #FFF;
}

.question-card-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.answer-btn {
    width: 100%;
    color: #6c5ce7;
    border: 1px solid #6c5ce7;
}

.answer-btn:hover {
    color: #FFF;
    background-color: #6c5ce7;
  }
  
.answer-btn:active:focus {
   color: #FFF !important;
   background-color: #6c5ce7 !important;
}

.main-section {
    padding-top: 70px; 
    max-width: 90vw;
}

.page-title {
    color: #6c5ce7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #6c5ce7;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.question-row-title {
    color: #6c5ce7;
    margin-right: auto;
    margin-left: auto;
    content: block;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #6c5ce7;
    margin: 1em 0; padding: 0; 
  }

.question-card {
    border: 2px solid #6c5ce7;
}

.open-q-btn {
    margin-left: auto;
    margin-right: auto;
    content: block;
    color: #FFF; 
    background-color: #6c5ce7;
    border: 1px solid #FFF;
}

.open-q-btn:hover {
    color: #6c5ce7;
    background-color: #FFF;
    border: 1px solid #6c5ce7;
}

.open-q-btn:active:focus {
    color: #6c5ce7 !important;
    background-color: #FFF !important;
    border: 1px solid #6c5ce7 !important;
}

.open-q-btn:active:focus {
    color: #6c5ce7 !important;
    background-color: #FFF !important;
    border: 1px solid #6c5ce7 !important;
}